workflows/voice_ai_agents/pipelines/elevenlabs-twilio-bulletproof-v3.json
{
  "name": "[DEV] Sarah SMS Tool - BULLETPROOF",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "ElevenLabs Tool Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sarah-send-sms",
        "responseMode": "responseNode"
      },
      "webhookId": "sarah-send-sms"
    },
    {
      "id": "auth-check",
      "name": "Auth: Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "secret-header",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "wranngle-sms-2024-bulletproof",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "elevenlabs-origin",
              "leftValue": "={{ $json.headers['user-agent'] || '' }}",
              "rightValue": "ElevenLabs",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "localhost-dev",
              "leftValue": "={{ $json.headers.host || '' }}",
              "rightValue": "localhost",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      }
    },
    {
      "id": "respond-unauthorized",
      "name": "Error: Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        460
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'UNAUTHORIZED', message: 'Invalid or missing authentication' } }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "extract-params",
      "name": "Extract & Normalize Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        200
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $now.toMillis() + '-' + Math.random().toString(36).substring(7) }}",
              "type": "string"
            },
            {
              "id": "phone_raw",
              "name": "phone_raw",
              "value": "={{ ($json.body?.phone_number || $json.phone_number || '').toString() }}",
              "type": "string"
            },
            {
              "id": "phone_clean",
              "name": "phone_number",
              "value": "={{ ($json.body?.phone_number || $json.phone_number || '').toString().replace(/[^0-9+]/g, '') }}",
              "type": "string"
            },
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $json.body?.caller_name || $json.body?.first_name || $json.caller_name || $json.first_name || 'there' }}",
              "type": "string"
            },
            {
              "id": "industry",
              "name": "industry",
              "value": "={{ $json.body?.industry || $json.industry || 'service business' }}",
              "type": "string"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "value": "={{ $json.body?.company_name || $json.company_name || '' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body?.email || $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "template",
              "name": "template",
              "value": "={{ $json.body?.template || $json.template || 'demo' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "validate-phone",
      "name": "Validate Phone Format",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        820,
        200
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "valid_us_ca",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "us-ca-format",
                    "leftValue": "={{ $json.phone_number }}",
                    "rightValue": "^\\+1[2-9][0-9]{9}$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "valid_intl",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "intl-format",
                    "leftValue": "={{ $json.phone_number }}",
                    "rightValue": "^\\+[1-9][0-9]{6,14}$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "missing",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "empty-phone",
                    "leftValue": "={{ $json.phone_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "respond-missing-phone",
      "name": "Error: Missing Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        440
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'MISSING_PHONE_NUMBER', message: 'No phone number provided', request_id: $json.request_id, hint: 'Provide phone_number in E.164 format: +1XXXXXXXXXX' } }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "respond-invalid-phone",
      "name": "Error: Invalid Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        580
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'INVALID_PHONE_FORMAT', message: 'Phone number format invalid', provided: $json.phone_raw, cleaned: $json.phone_number, request_id: $json.request_id, expected: '+1XXXXXXXXXX or international E.164' } }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "merge-valid-phones",
      "name": "Merge Valid Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        100
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "compose-message",
      "name": "Compose SMS Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        100
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "phone_number",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "request_id",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "sms_message",
              "name": "sms_message",
              "value": "={{ (() => { const templates = { 'demo': `Hi ${$json.first_name}! Try Wranngle's AI demo - call (888) 266-2193 and pretend you're a customer with an emergency. Then call back with a routine request and see the difference! Questions? wranngle.com`, 'recap': `Hi ${$json.first_name}! Thanks for chatting about ${$json.company_name || 'your business'}. Demo: (888) 266-2193 - try calling as if you're a customer. More info: wranngle.com`, 'followup': `Hi ${$json.first_name}! Following up on Wranngle for ${$json.industry}. Demo: (888) 266-2193. Questions? Reply here or call us.` }; return templates[$json.template] || templates['demo']; })() }}",
              "type": "string"
            },
            {
              "id": "attempt",
              "name": "attempt_number",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      }
    },
    {
      "id": "send-sms-twilio",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACb9a3b7df2dfe607099bd0ce0e6ae47e1/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "From",
              "value": "+18882662193"
            },
            {
              "name": "Body",
              "value": "={{ $json.sms_message }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "pASOSgPIUdaHk22p",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "check-send-result",
      "name": "Check Send Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1700,
        100
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "success",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "has-sid",
                    "leftValue": "={{ $json.sid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "retryable_error",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-retryable",
                    "leftValue": "={{ [30003, 30005, 30008, 30009, 30010].includes($json.code || $json.error_code) || ($json.message || '').toLowerCase().includes('temporarily') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "retry-logic",
      "name": "Retry: Check Attempts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "under-max",
              "leftValue": "={{ $('Compose SMS Message').first().json.attempt_number || 1 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "wait-before-retry",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        140
      ],
      "parameters": {
        "amount": "={{ Math.pow(2, $('Compose SMS Message').first().json.attempt_number || 1) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "increment-attempt",
      "name": "Increment Attempt Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        140
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "attempt",
              "name": "attempt_number",
              "value": "={{ ($('Compose SMS Message').first().json.attempt_number || 1) + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "include": "all"
        }
      }
    },
    {
      "id": "verify-delivery",
      "name": "Verify: Fetch Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -20
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/ACb9a3b7df2dfe607099bd0ce0e6ae47e1/Messages/{{ $json.sid }}.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "timeout": 10000
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "pASOSgPIUdaHk22p",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "route-by-delivery",
      "name": "Route: Delivery Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2140,
        -20
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "delivered",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "id": "is-delivered",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "delivered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "is-sent",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "failed",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "id": "is-failed",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "is-undelivered",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "undelivered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "respond-success",
      "name": "Success: Delivered",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2360,
        -120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: 'delivered', message_sid: $('Send SMS via Twilio').first().json.sid, recipient: $('Extract & Normalize Parameters').first().json.phone_number, first_name: $('Extract & Normalize Parameters').first().json.first_name, company_name: $('Extract & Normalize Parameters').first().json.company_name, request_id: $('Extract & Normalize Parameters').first().json.request_id, delivery_status: $json.status } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "respond-pending",
      "name": "Warning: Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2360,
        40
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: 'pending', note: 'Message accepted, delivery not yet confirmed', message_sid: $('Send SMS via Twilio').first().json.sid, recipient: $('Extract & Normalize Parameters').first().json.phone_number, request_id: $('Extract & Normalize Parameters').first().json.request_id, delivery_status: $json.status || 'unknown' } }}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "build-error-response",
      "name": "Build: Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        -40
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "troubleshoot",
              "name": "troubleshooting",
              "value": "={{ (() => { const code = $json.error_code; const map = { 30032: 'CRITICAL: Toll-free number not verified for A2P. Complete verification at Twilio console.', 21211: 'Invalid phone format - needs E.164 (+1XXXXXXXXXX)', 21614: 'Landline or VoIP number - not SMS-capable', 30003: 'Carrier unreachable - temporary, retry later', 30004: 'Blocked by carrier spam filter', 30005: 'Number does not exist', 30007: 'Carrier violation - check message content' }; return map[code] || 'Check https://twilio.com/docs/api/errors/' + code; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "include": "all"
        }
      }
    },
    {
      "id": "respond-delivery-failed",
      "name": "Error: Delivery Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        -40
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'DELIVERY_FAILED', message_sid: $('Send SMS via Twilio').first().json.sid, recipient: $('Extract & Normalize Parameters').first().json.phone_number, error_code: $json.error_code, error_message: $json.error_message, request_id: $('Extract & Normalize Parameters').first().json.request_id, troubleshooting: $json.troubleshooting } }}",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "respond-max-retries",
      "name": "Error: Max Retries",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2140,
        320
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'MAX_RETRIES_EXCEEDED', message: 'Failed after 3 attempts', last_error_code: $json.code || $json.error_code, last_error_message: $json.message || $json.error_message, recipient: $('Extract & Normalize Parameters').first().json.phone_number, request_id: $('Extract & Normalize Parameters').first().json.request_id } }}",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "respond-permanent-error",
      "name": "Error: Permanent Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        360
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'TWILIO_PERMANENT_ERROR', error_code: $json.code || $json.error_code || 'UNKNOWN', error_message: $json.message || $json.error_message || 'Permanent failure - do not retry', recipient: $('Extract & Normalize Parameters').first().json.phone_number, request_id: $('Extract & Normalize Parameters').first().json.request_id, troubleshooting: (() => { const code = $json.code || $json.error_code; const map = { 30032: 'Toll-free not A2P verified - complete at Twilio console', 21211: 'Invalid phone format', 21614: 'Not SMS-capable (landline)', 21610: 'Unsubscribed recipient' }; return map[code] || 'Check Twilio error docs'; })() } }}",
        "options": {
          "responseCode": 400
        }
      }
    }
  ],
  "connections": {
    "ElevenLabs Tool Webhook": {
      "main": [
        [
          {
            "node": "Auth: Check Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth: Check Secret": {
      "main": [
        [
          {
            "node": "Extract & Normalize Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Normalize Parameters": {
      "main": [
        [
          {
            "node": "Validate Phone Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Phone Format": {
      "main": [
        [
          {
            "node": "Merge Valid Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Valid Paths",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error: Missing Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Valid Paths": {
      "main": [
        [
          {
            "node": "Compose SMS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose SMS Message": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Check Send Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Send Result": {
      "main": [
        [
          {
            "node": "Verify: Fetch Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry: Check Attempts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Permanent Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry: Check Attempts": {
      "main": [
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Max Retries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Increment Attempt Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Attempt Counter": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify: Fetch Status": {
      "main": [
        [
          {
            "node": "Route: Delivery Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Delivery Status": {
      "main": [
        [
          {
            "node": "Success: Delivered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build: Error Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warning: Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Error Details": {
      "main": [
        [
          {
            "node": "Error: Delivery Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "meta": {
    "instanceId": "n8n.wranngle.com",
    "version": "3.0.0",
    "description": "BULLETPROOF v3.0 SMS workflow with: (1) Webhook authentication, (2) Extended phone validation (US/CA/Intl), (3) Retry with exponential backoff (3 attempts), (4) HTTP-based delivery verification (no env vars), (5) Message templates, (6) Company/industry data capture, (7) Comprehensive error troubleshooting, (8) Full audit fields in responses",
    "changelog": [
      "v1.0: Basic webhook → Twilio → response",
      "v2.0: Added phone validation, Code node delivery polling, error mapping",
      "v3.0: Auth check, retry logic, HTTP-based verification, message templates, extended phone support, request_id tracking"
    ],
    "known_issues": [
      "Requires 'Twilio Basic Auth' credential (httpBasicAuth type) for delivery verification",
      "Toll-free number +18882662193 must be A2P verified in Twilio console"
    ],
    "dependencies": {
      "credentials": [
        {
          "type": "twilioApi",
          "id": "7NL1kUMhDvMY4yUc",
          "name": "Twilio SMS - Sarah"
        },
        {
          "type": "httpBasicAuth",
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth",
          "note": "MUST CREATE: user=ACb9a3b7df2dfe607099bd0ce0e6ae47e1, password=AUTH_TOKEN"
        }
      ]
    }
  }
}