fixtures/lint/clean.json
{
  "name": "Clean Lead Pipeline",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "parameters": {
        "path": "lint-clean",
        "httpMethod": "POST"
      }
    },
    {
      "id": "lookup-1",
      "name": "Look Up User By Id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [400, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/users/{{$json.userId}}"
      }
    },
    {
      "id": "charge-1",
      "name": "Charge Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "retryOnFail": true,
      "maxTries": 5,
      "position": [600, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/charges",
        "headerParameters": {
          "parameters": [
            { "name": "Idempotency-Key", "value": "={{$json.requestId}}" }
          ]
        }
      }
    },
    {
      "id": "save-1",
      "name": "Save To DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "continueOnFail": true,
      "position": [800, 200],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "leads"
      }
    },
    {
      "id": "log-error",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [600, 400],
      "parameters": {
        "values": { "string": [{ "name": "status", "value": "error" }] }
      }
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [[{ "node": "Look Up User By Id", "type": "main", "index": 0 }]]
    },
    "Look Up User By Id": {
      "main": [[{ "node": "Charge Customer", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Log Failure", "type": "main", "index": 0 }]]
    },
    "Charge Customer": {
      "main": [[{ "node": "Save To DB", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Log Failure", "type": "main", "index": 0 }]]
    }
  }
}
