workflows/voice_ai_agents/supersystem/autorefinement-orchestrator-v2.json
{
  "name": "[DEV] Supersystem - Autorefinement Orchestrator v2",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Autorefinement Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "autorefinement-trigger",
      "parameters": {
        "path": "autorefinement-trigger",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "parse-failures",
      "name": "Parse Failure Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst failures = input.failures || [];\nconst agentId = input.agent_id || 'agent_8001kdgp7qbyf4wvhs540be78vew';\nconst totalTests = input.total_tests || 100;\nconst passedTests = input.passed_tests || 0;\n\nconst patterns = {\n  SMS_AFTER_DECLINE: [],\n  TOOL_NOT_CALLED: [],\n  CONTEXT_LOST: [],\n  HOSTILE_RESPONSE: [],\n  UNKNOWN: []\n};\n\nfor (const failure of failures) {\n  const transcript = (failure.transcript || '').toLowerCase();\n  const toolCalls = failure.tool_calls || [];\n  const hasSmsTool = toolCalls.some(t => t.name === 'send_sms');\n  const hasDecline = /no|don't|stop|never mind|cancel/i.test(transcript);\n  \n  if (hasSmsTool && hasDecline) patterns.SMS_AFTER_DECLINE.push(failure);\n  else if (failure.test_name?.includes('Tool') && !hasSmsTool) patterns.TOOL_NOT_CALLED.push(failure);\n  else if (failure.test_name?.includes('Context') || failure.test_name?.includes('Memory')) patterns.CONTEXT_LOST.push(failure);\n  else if (failure.test_name?.includes('Hostile') || failure.test_name?.includes('Angry')) patterns.HOSTILE_RESPONSE.push(failure);\n  else patterns.UNKNOWN.push(failure);\n}\n\nconst patternCounts = Object.entries(patterns)\n  .map(([name, items]) => ({name, count: items.length}))\n  .filter(p => p.count > 0)\n  .sort((a, b) => b.count - a.count);\n\nconst dominantPattern = patternCounts[0]?.name || 'UNKNOWN';\n\nreturn [{\n  json: {\n    agent_id: agentId,\n    total_tests: totalTests,\n    passed_tests: passedTests,\n    failed_tests: failures.length,\n    pass_rate: ((passedTests / totalTests) * 100).toFixed(1),\n    patterns: patternCounts,\n    dominant_pattern: dominantPattern,\n    failures: failures.slice(0, 10),\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "get-agent-prompt",
      "name": "Get Agent Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.elevenlabs.io/v1/convai/agents/{{ $json.agent_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "gemini-chat-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [850, 500],
      "parameters": {
        "modelName": "models/gemini-3-pro",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "googleGeminiCredential",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "ai-agent-analyze",
      "name": "AI Agent: Analyze Failures",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [910, 300],
      "parameters": {
        "promptType": "define",
        "text": "=CURRENT AGENT PROMPT:\n{{ $('Get Agent Prompt').item.json.conversation_config?.agent?.prompt?.prompt }}\n\nTEST FAILURE ANALYSIS:\n- Dominant Pattern: {{ $('Parse Failure Data').item.json.dominant_pattern }}\n- Failed Tests: {{ $('Parse Failure Data').item.json.failed_tests }}/{{ $('Parse Failure Data').item.json.total_tests }}\n- Pass Rate: {{ $('Parse Failure Data').item.json.pass_rate }}%\n\nGenerate a TARGETED prompt addition (2-5 sentences max). Format as:\nANALYSIS: [root cause]\nPROMPT_ADDITION: [text to append]\nEXPECTED_IMPROVEMENT: [what improves]",
        "options": {
          "systemMessage": "You are an expert at analyzing voice agent test failures and generating targeted prompt fixes. Your fixes should be SURGICAL - add only the minimum necessary instruction to address the specific failure pattern. Never rewrite the entire prompt, only add clarifying instructions."
        }
      }
    },
    {
      "id": "extract-fix",
      "name": "Extract Fix from Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const content = $input.first().json.output || $input.first().json.text || '';\n\nlet analysis = '', promptAddition = '', expectedImprovement = '';\n\nconst analysisMatch = content.match(/ANALYSIS:\\s*([\\s\\S]*?)(?=PROMPT_ADDITION:|$)/i);\nif (analysisMatch) analysis = analysisMatch[1].trim();\n\nconst promptMatch = content.match(/PROMPT_ADDITION:\\s*([\\s\\S]*?)(?=EXPECTED_IMPROVEMENT:|$)/i);\nif (promptMatch) promptAddition = promptMatch[1].trim();\n\nconst improvementMatch = content.match(/EXPECTED_IMPROVEMENT:\\s*([\\s\\S]*?)$/i);\nif (improvementMatch) expectedImprovement = improvementMatch[1].trim();\n\nconst currentPrompt = $('Get Agent Prompt').item.json.conversation_config?.agent?.prompt?.prompt || '';\nconst autorefinementTag = `\\n\\n[AUTOREFINEMENT ${new Date().toISOString().split('T')[0]}]`;\nconst updatedPrompt = currentPrompt + autorefinementTag + '\\n' + promptAddition;\n\nreturn [{\n  json: {\n    agent_id: $('Parse Failure Data').item.json.agent_id,\n    dominant_pattern: $('Parse Failure Data').item.json.dominant_pattern,\n    analysis,\n    prompt_addition: promptAddition,\n    expected_improvement: expectedImprovement,\n    current_prompt_length: currentPrompt.length,\n    updated_prompt: updatedPrompt,\n    updated_prompt_length: updatedPrompt.length\n  }\n}];"
      }
    },
    {
      "id": "should-apply-fix",
      "name": "Should Apply Fix?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1350, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "yes",
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.prompt_addition.length }}",
                    "operator": "gt",
                    "rightValue": 20
                  },
                  {
                    "leftValue": "={{ $json.updated_prompt_length }}",
                    "operator": "lt",
                    "rightValue": 10000
                  }
                ]
              }
            }
          ],
          "fallbackOutput": "no"
        },
        "options": {}
      }
    },
    {
      "id": "patch-agent-prompt",
      "name": "Patch Agent Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.elevenlabs.io/v1/convai/agents/{{ $json.agent_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_config: { agent: { prompt: { prompt: $json.updated_prompt } } } }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', action: 'fix_applied', agent_id: $json.agent_id, pattern_fixed: $('Extract Fix from Response').item.json.dominant_pattern, analysis: $('Extract Fix from Response').item.json.analysis, timestamp: new Date().toISOString() } }}"
      }
    },
    {
      "id": "respond-skip",
      "name": "Respond: Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'skipped', action: 'no_fix_applied', agent_id: $json.agent_id, reason: 'fix_too_short_or_prompt_too_long', timestamp: new Date().toISOString() } }}"
      }
    }
  ],
  "connections": {
    "Autorefinement Trigger": {
      "main": [
        [
          {
            "node": "Parse Failure Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failure Data": {
      "main": [
        [
          {
            "node": "Get Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Prompt": {
      "main": [
        [
          {
            "node": "AI Agent: Analyze Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Analyze Failures",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Analyze Failures": {
      "main": [
        [
          {
            "node": "Extract Fix from Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fix from Response": {
      "main": [
        [
          {
            "node": "Should Apply Fix?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Apply Fix?": {
      "main": [
        [
          {
            "node": "Patch Agent Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Agent Prompt": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
