workflows/voice_ai_agents/supersystem/autorefinement-workflow.json
{
  "name": "[DEV] Supersystem - Autorefinement Orchestrator",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Autorefinement Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "autorefinement-trigger",
      "parameters": {
        "path": "autorefinement-trigger",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "parse-failures",
      "name": "Parse Failure Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse incoming failure data from test runner\nconst input = $input.first().json;\n\nconst failures = input.failures || [];\nconst invocationId = input.invocation_id || 'unknown';\nconst agentId = input.agent_id || 'agent_8001kdgp7qbyf4wvhs540be78vew';\nconst totalTests = input.total_tests || 100;\nconst passedTests = input.passed_tests || 0;\n\n// Categorize failures by pattern\nconst patterns = {\n  SMS_AFTER_DECLINE: [],\n  TOOL_NOT_CALLED: [],\n  CONTEXT_LOST: [],\n  HOSTILE_RESPONSE: [],\n  UNKNOWN: []\n};\n\nfor (const failure of failures) {\n  const transcript = (failure.transcript || '').toLowerCase();\n  const toolCalls = failure.tool_calls || [];\n  const hasSmsTool = toolCalls.some(t => t.name === 'send_sms');\n  const hasDecline = /no|don't|stop|never mind|cancel/i.test(transcript);\n  \n  if (hasSmsTool && hasDecline) {\n    patterns.SMS_AFTER_DECLINE.push(failure);\n  } else if (failure.test_name?.includes('Tool') && !hasSmsTool) {\n    patterns.TOOL_NOT_CALLED.push(failure);\n  } else if (failure.test_name?.includes('Context') || failure.test_name?.includes('Memory')) {\n    patterns.CONTEXT_LOST.push(failure);\n  } else if (failure.test_name?.includes('Hostile') || failure.test_name?.includes('Angry')) {\n    patterns.HOSTILE_RESPONSE.push(failure);\n  } else {\n    patterns.UNKNOWN.push(failure);\n  }\n}\n\n// Get dominant pattern\nconst patternCounts = Object.entries(patterns)\n  .map(([name, items]) => ({ name, count: items.length }))\n  .filter(p => p.count > 0)\n  .sort((a, b) => b.count - a.count);\n\nconst dominantPattern = patternCounts[0]?.name || 'UNKNOWN';\n\nreturn [{\n  json: {\n    agent_id: agentId,\n    invocation_id: invocationId,\n    total_tests: totalTests,\n    passed_tests: passedTests,\n    failed_tests: failures.length,\n    pass_rate: ((passedTests / totalTests) * 100).toFixed(1),\n    patterns: patternCounts,\n    dominant_pattern: dominantPattern,\n    failures: failures.slice(0, 10), // Limit for context\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "get-agent-prompt",
      "name": "Get Agent Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.elevenlabs.io/v1/convai/agents/{{ $json.agent_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "analyze-with-gemini",
      "name": "Analyze & Generate Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-3-flash-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert at analyzing voice agent test failures and generating targeted prompt fixes. Your fixes should be SURGICAL - add only the minimum necessary instruction to address the specific failure pattern. Do NOT rewrite the entire prompt.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"CURRENT AGENT PROMPT:\\n{{ $('Get Agent Prompt').item.json.conversation_config.agent.prompt.prompt }}\\n\\n---\\n\\nTEST FAILURE ANALYSIS:\\n- Dominant Pattern: {{ $('Parse Failure Data').item.json.dominant_pattern }}\\n- Failed Tests: {{ $('Parse Failure Data').item.json.failed_tests }}/{{ $('Parse Failure Data').item.json.total_tests }}\\n- Pass Rate: {{ $('Parse Failure Data').item.json.pass_rate }}%\\n\\nPattern Breakdown:\\n{{ JSON.stringify($('Parse Failure Data').item.json.patterns, null, 2) }}\\n\\nSample Failures:\\n{{ JSON.stringify($('Parse Failure Data').item.json.failures.slice(0, 3), null, 2) }}\\n\\n---\\n\\nGenerate a TARGETED prompt addition (2-5 sentences max) that addresses the dominant failure pattern. Format your response as:\\n\\nANALYSIS: [Brief explanation of root cause]\\n\\nPROMPT_ADDITION:\\n[The exact text to append to the agent prompt]\\n\\nEXPECTED_IMPROVEMENT: [What should improve after this fix]\"\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.3\n}",
        "options": {}
      }
    },
    {
      "id": "extract-fix",
      "name": "Extract Fix from Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract the prompt addition from Gemini's response\nconst geminiResponse = $input.first().json;\nconst content = geminiResponse.choices?.[0]?.message?.content || '';\n\n// Parse the structured response\nlet analysis = '';\nlet promptAddition = '';\nlet expectedImprovement = '';\n\nconst analysisMatch = content.match(/ANALYSIS:\\s*([\\s\\S]*?)(?=PROMPT_ADDITION:|$)/i);\nif (analysisMatch) analysis = analysisMatch[1].trim();\n\nconst promptMatch = content.match(/PROMPT_ADDITION:\\s*([\\s\\S]*?)(?=EXPECTED_IMPROVEMENT:|$)/i);\nif (promptMatch) promptAddition = promptMatch[1].trim();\n\nconst improvementMatch = content.match(/EXPECTED_IMPROVEMENT:\\s*([\\s\\S]*?)$/i);\nif (improvementMatch) expectedImprovement = improvementMatch[1].trim();\n\n// Get current prompt from previous node\nconst currentPrompt = $('Get Agent Prompt').item.json.conversation_config?.agent?.prompt?.prompt || '';\n\n// Create the updated prompt\nconst autorefinementTag = `\\n\\n[AUTOREFINEMENT ${new Date().toISOString().split('T')[0]}]`;\nconst updatedPrompt = currentPrompt + autorefinementTag + '\\n' + promptAddition;\n\nreturn [{\n  json: {\n    agent_id: $('Parse Failure Data').item.json.agent_id,\n    dominant_pattern: $('Parse Failure Data').item.json.dominant_pattern,\n    analysis: analysis,\n    prompt_addition: promptAddition,\n    expected_improvement: expectedImprovement,\n    current_prompt_length: currentPrompt.length,\n    updated_prompt: updatedPrompt,\n    updated_prompt_length: updatedPrompt.length,\n    failed_test_ids: $('Parse Failure Data').item.json.failures.map(f => f.test_id).filter(Boolean)\n  }\n}];"
      }
    },
    {
      "id": "should-apply-fix",
      "name": "Should Apply Fix?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1350, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "yes",
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.prompt_addition.length }}",
                    "operator": "gt",
                    "rightValue": 20
                  },
                  {
                    "leftValue": "={{ $json.updated_prompt_length }}",
                    "operator": "lt",
                    "rightValue": 10000
                  }
                ]
              }
            }
          ],
          "fallbackOutput": "no"
        },
        "options": {}
      }
    },
    {
      "id": "patch-agent-prompt",
      "name": "Patch Agent Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.elevenlabs.io/v1/convai/agents/{{ $json.agent_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_config\": {\n    \"agent\": {\n      \"prompt\": {\n        \"prompt\": {{ JSON.stringify($json.updated_prompt) }}\n      }\n    }\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "wait-before-rerun",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1790, 200],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      }
    },
    {
      "id": "rerun-failed-tests",
      "name": "Re-run Failed Tests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/convai/agents/{{ $('Extract Fix from Response').item.json.agent_id }}/run-tests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"test_ids\": {{ JSON.stringify($('Extract Fix from Response').item.json.failed_test_ids) }}\n}",
        "options": {}
      }
    },
    {
      "id": "slack-success",
      "name": "Slack: Fix Applied",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2230, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#voice-agent-alerts"
        },
        "text": "=🔧 *AUTOREFINEMENT APPLIED*\n\n*Agent:* {{ $('Extract Fix from Response').item.json.agent_id }}\n*Pattern Fixed:* {{ $('Extract Fix from Response').item.json.dominant_pattern }}\n\n*Analysis:*\n{{ $('Extract Fix from Response').item.json.analysis }}\n\n*Prompt Addition:*\n```{{ $('Extract Fix from Response').item.json.prompt_addition }}```\n\n*Expected Improvement:*\n{{ $('Extract Fix from Response').item.json.expected_improvement }}\n\n*Re-run Invocation:* {{ $json.invocation_id || 'Started' }}\n\n_Waiting for re-run results..._",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "slack-credential-id",
          "name": "Slack API"
        }
      }
    },
    {
      "id": "slack-skip",
      "name": "Slack: Fix Skipped",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1570, 400],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#voice-agent-alerts"
        },
        "text": "=⏭️ *AUTOREFINEMENT SKIPPED*\n\n*Agent:* {{ $json.agent_id }}\n*Reason:* Generated fix too short or prompt would exceed limits\n\n*Dominant Pattern:* {{ $json.dominant_pattern }}\n*Fix Length:* {{ $json.prompt_addition.length }} chars\n*Would-be Prompt Length:* {{ $json.updated_prompt_length }} chars\n\n_Manual review recommended._",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "slack-credential-id",
          "name": "Slack API"
        }
      }
    },
    {
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"action\": \"fix_applied\",\n  \"agent_id\": \"{{ $('Extract Fix from Response').item.json.agent_id }}\",\n  \"pattern_fixed\": \"{{ $('Extract Fix from Response').item.json.dominant_pattern }}\",\n  \"rerun_invocation_id\": \"{{ $json.invocation_id || 'pending' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "respond-skip",
      "name": "Respond: Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"skipped\",\n  \"action\": \"no_fix_applied\",\n  \"agent_id\": \"{{ $json.agent_id }}\",\n  \"reason\": \"fix_too_short_or_prompt_too_long\",\n  \"fix_length\": {{ $json.prompt_addition.length }},\n  \"would_be_prompt_length\": {{ $json.updated_prompt_length }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Autorefinement Trigger": {
      "main": [
        [
          {
            "node": "Parse Failure Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failure Data": {
      "main": [
        [
          {
            "node": "Get Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Prompt": {
      "main": [
        [
          {
            "node": "Analyze & Generate Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze & Generate Fix": {
      "main": [
        [
          {
            "node": "Extract Fix from Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fix from Response": {
      "main": [
        [
          {
            "node": "Should Apply Fix?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Apply Fix?": {
      "main": [
        [
          {
            "node": "Patch Agent Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Fix Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Agent Prompt": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Re-run Failed Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-run Failed Tests": {
      "main": [
        [
          {
            "node": "Slack: Fix Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Fix Applied": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Fix Skipped": {
      "main": [
        [
          {
            "node": "Respond: Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "DEV"
    },
    {
      "name": "supersystem"
    },
    {
      "name": "autorefinement"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "meta": {
    "instanceId": "n8n.wranngle.com",
    "created": "2025-12-30",
    "purpose": "Autorefinement orchestrator for ElevenLabs voice agent testing",
    "integration": "Works with native-test-runner.json to form complete testing loop"
  }
}
