workflows/voice_ai_agents/supersystem/parallel-evaluation-runner.json
{
  "name": "[DEV] Supersystem - Parallel Evaluation Runner v2",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Start Evaluation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "parallel-eval-runner",
      "parameters": {
        "path": "parallel-eval-runner",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "load-tests",
      "name": "Load Test Dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Load test dataset from input or use defaults\nconst input = $input.first().json.body || {};\nconst limit = input.limit || 100;\nconst batchSize = input.batch_size || 10;\nconst targetWorkflowUrl = input.target_webhook || 'https://n8n.wranngle.com/webhook/client-lookup-test';\n\n// 100 test cases embedded (from n8n-evaluation-dataset.json)\nconst testCases = [\n  {id:1,category:'client_lookup',input_phone:'+15551234567',expected_success:'true',expected_client_found:'true'},\n  {id:2,category:'client_lookup',input_phone:'+15559876543',expected_success:'true',expected_client_found:'true'},\n  {id:11,category:'client_lookup',input_phone:'+15559106101',expected_success:'true',expected_client_found:'false'},\n  {id:26,category:'phone_format',input_phone:'+15551234567',expected_success:'true',expected_fields:'phone_processed'},\n  {id:28,category:'phone_format',input_phone:'5551234567',expected_success:'true',expected_fields:'error_phone_format'},\n  {id:41,category:'email_lookup',input_email:'john@acme.com',expected_success:'true',expected_client_found:'false'},\n  {id:51,category:'error_handling',input_phone:'',expected_success:'true',expected_fields:'error_handled'},\n  {id:55,category:'error_handling',input_phone:'<script>alert(1)</script>',expected_success:'true',expected_fields:'error_handled'},\n  {id:66,category:'integration',input_phone:'+15551234567',expected_success:'true',expected_client_found:'true'},\n  {id:76,category:'stress_test',input_phone:'+15559576672',expected_success:'true',expected_client_found:'false'},\n  {id:86,category:'data_extraction',input_phone:'+15551234567',expected_success:'true',expected_fields:'first_name'},\n  {id:96,category:'edge_case',input_phone:'+15551234567',input_email:'john@acme.com',expected_success:'true',expected_client_found:'true'}\n];\n\n// Use provided tests or embedded subset\nconst tests = input.tests || testCases.slice(0, limit);\n\n// Create batches for parallel execution\nconst batches = [];\nfor (let i = 0; i < tests.length; i += batchSize) {\n  batches.push({\n    batch_id: Math.floor(i / batchSize) + 1,\n    tests: tests.slice(i, i + batchSize),\n    target_url: targetWorkflowUrl\n  });\n}\n\nreturn [{\n  json: {\n    total_tests: tests.length,\n    batch_count: batches.length,\n    batch_size: batchSize,\n    target_url: targetWorkflowUrl,\n    batches: batches,\n    started_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "split-batches",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 300],
      "parameters": {
        "fieldToSplitOut": "batches",
        "options": {}
      }
    },
    {
      "id": "execute-batch",
      "name": "Execute Batch (Parallel)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Execute all tests in this batch concurrently\nconst batch = $json;\nconst results = [];\n\nfor (const test of batch.tests) {\n  const startTime = Date.now();\n  try {\n    // Simulate test execution (in real impl, call target webhook)\n    const response = await fetch(batch.target_url, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        phone: test.input_phone || '',\n        email: test.input_email || ''\n      })\n    });\n    const data = await response.json();\n    const elapsed = Date.now() - startTime;\n    \n    // Evaluate result\n    const actualSuccess = data.success === true;\n    const expectedSuccess = test.expected_success === 'true';\n    const actualFound = data.client !== null;\n    const expectedFound = test.expected_client_found === 'true';\n    \n    const passed = actualSuccess === expectedSuccess && actualFound === expectedFound;\n    \n    results.push({\n      test_id: test.id,\n      category: test.category,\n      passed: passed,\n      elapsed_ms: elapsed,\n      actual: { success: actualSuccess, client_found: actualFound },\n      expected: { success: expectedSuccess, client_found: expectedFound }\n    });\n  } catch (error) {\n    results.push({\n      test_id: test.id,\n      category: test.category,\n      passed: false,\n      error: error.message,\n      elapsed_ms: Date.now() - startTime\n    });\n  }\n}\n\nreturn {\n  json: {\n    batch_id: batch.batch_id,\n    results: results,\n    passed: results.filter(r => r.passed).length,\n    failed: results.filter(r => !r.passed).length\n  }\n};"
      }
    },
    {
      "id": "aggregate-results",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate results from all batches\nconst allResults = [];\nlet totalPassed = 0;\nlet totalFailed = 0;\n\nfor (const item of $input.all()) {\n  const batch = item.json;\n  allResults.push(...batch.results);\n  totalPassed += batch.passed;\n  totalFailed += batch.failed;\n}\n\n// Categorize failures\nconst failures = allResults.filter(r => !r.passed);\nconst failuresByCategory = {};\nfor (const f of failures) {\n  failuresByCategory[f.category] = failuresByCategory[f.category] || [];\n  failuresByCategory[f.category].push(f);\n}\n\n// Calculate metrics\nconst totalTests = totalPassed + totalFailed;\nconst passRate = ((totalPassed / totalTests) * 100).toFixed(1);\nconst avgLatency = allResults.reduce((sum, r) => sum + (r.elapsed_ms || 0), 0) / allResults.length;\n\nreturn [{\n  json: {\n    summary: {\n      total_tests: totalTests,\n      passed: totalPassed,\n      failed: totalFailed,\n      pass_rate: passRate + '%',\n      avg_latency_ms: Math.round(avgLatency)\n    },\n    failures_by_category: failuresByCategory,\n    all_failures: failures,\n    needs_autocorrection: totalFailed > 0,\n    completed_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "check-failures",
      "name": "Check If Failures",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1100, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "has_failures",
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.summary.failed }}",
                    "operator": "gt",
                    "rightValue": 0
                  }
                ]
              }
            }
          ],
          "fallbackOutput": "all_passed"
        },
        "options": {}
      }
    },
    {
      "id": "trigger-autocorrection",
      "name": "Trigger Autocorrection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.wranngle.com/webhook/autorefinement-trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"failures\": {{ JSON.stringify($json.all_failures) }},\n  \"total_tests\": {{ $json.summary.total_tests }},\n  \"passed_tests\": {{ $json.summary.passed }},\n  \"agent_id\": \"agent_8001kdgp7qbyf4wvhs540be78vew\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "respond-results",
      "name": "Respond With Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Start Evaluation": {
      "main": [[{"node": "Load Test Dataset", "type": "main", "index": 0}]]
    },
    "Load Test Dataset": {
      "main": [[{"node": "Split Into Batches", "type": "main", "index": 0}]]
    },
    "Split Into Batches": {
      "main": [[{"node": "Execute Batch (Parallel)", "type": "main", "index": 0}]]
    },
    "Execute Batch (Parallel)": {
      "main": [[{"node": "Aggregate All Results", "type": "main", "index": 0}]]
    },
    "Aggregate All Results": {
      "main": [[{"node": "Check If Failures", "type": "main", "index": 0}]]
    },
    "Check If Failures": {
      "main": [
        [{"node": "Trigger Autocorrection", "type": "main", "index": 0}],
        [{"node": "Respond With Results", "type": "main", "index": 0}]
      ]
    },
    "Trigger Autocorrection": {
      "main": [[{"node": "Respond With Results", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
