workflows/voice_ai_agents/supersystem/post-call-orchestrator-test.json
{
  "name": "[DEV] Supersystem - Post-Call Orchestrator (Test)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Post-Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "post-call-test",
      "parameters": {
        "path": "post-call-test",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "parse-event",
      "name": "Parse Post-Call Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse ElevenLabs post_call webhook payload\nconst input = $json.body || $json;\n\n// Extract key fields from ElevenLabs payload\nconst parsed = {\n  conversation_id: input.conversation_id || input.data?.conversation_id || 'unknown',\n  agent_id: input.agent_id || input.data?.agent_id || '',\n  agent_name: input.agent_name || input.data?.agent_name || 'Unknown Agent',\n  event_type: input.event_type || input.type || 'post_call',\n  caller_phone: input.caller_phone || input.metadata?.caller_phone || '',\n  duration_seconds: input.duration_seconds || input.call_duration || 0,\n  outcome: input.outcome || input.status || 'unknown',\n  transcript_available: !!input.transcript || !!input.data?.transcript,\n  errors: input.errors || '',\n  timestamp: new Date().toISOString(),\n  raw_payload: input\n};\n\nreturn { json: parsed };"
      }
    },
    {
      "id": "fan-out-calls",
      "name": "Build Fan-Out Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build payloads for each subworkflow\nconst data = $json;\n\n// Define subworkflows to call\nconst subworkflows = [\n  {\n    name: 'execution_logger',\n    url: 'https://n8n.wranngle.com/webhook/log-execution-test',\n    payload: {\n      conversation_id: data.conversation_id,\n      agent_name: data.agent_name,\n      caller_phone: data.caller_phone,\n      duration_seconds: data.duration_seconds,\n      outcome: data.outcome,\n      errors: data.errors\n    },\n    required: true\n  },\n  {\n    name: 'slack_notifier',\n    url: 'https://n8n.wranngle.com/webhook/slack-notify-test',\n    payload: {\n      conversation_id: data.conversation_id,\n      agent_name: data.agent_name,\n      caller_phone: data.caller_phone,\n      duration_seconds: data.duration_seconds,\n      outcome: data.outcome,\n      summary: 'Post-call processing triggered'\n    },\n    required: false\n  }\n];\n\n// In production, would also call transcript extractor if transcript_available\nif (data.transcript_available) {\n  subworkflows.push({\n    name: 'transcript_extractor',\n    url: 'https://n8n.wranngle.com/webhook/extract-transcript-v2',\n    payload: { conversation_id: data.conversation_id },\n    required: false\n  });\n}\n\nreturn {\n  json: {\n    parsed_data: data,\n    subworkflows: subworkflows,\n    subworkflow_count: subworkflows.length\n  }\n};"
      }
    },
    {
      "id": "call-execution-logger",
      "name": "Call Execution Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.subworkflows[0].url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.subworkflows[0].payload) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "call-slack-notifier",
      "name": "Call Slack Notifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.subworkflows[1].url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.subworkflows[1].payload) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "merge-results",
      "name": "Wait for All Subworkflows",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 0],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate results from all subworkflow calls\nconst items = $input.all();\nconst results = {};\n\n// Each item contains the HTTP response from a subworkflow\nitems.forEach((item) => {\n  // Determine which subworkflow based on response content\n  if (item.json.logged) {\n    results.execution_logger = {\n      success: item.json.success !== false,\n      response: item.json\n    };\n  } else if (item.json.slackPayload) {\n    results.slack_notifier = {\n      success: item.json.success !== false,\n      response: item.json\n    };\n  } else {\n    // Unknown subworkflow - store by index\n    results[`subworkflow_${Object.keys(results).length}`] = {\n      success: item.json.success !== false,\n      response: item.json\n    };\n  }\n});\n\nconst allSuccess = Object.values(results).every(r => r.success);\n\nreturn [{\n  json: {\n    orchestration_complete: true,\n    all_success: allSuccess,\n    subworkflow_results: results,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "respond-success",
      "name": "Respond with Summary",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook: Post-Call": {
      "main": [[{"node": "Parse Post-Call Event", "type": "main", "index": 0}]]
    },
    "Parse Post-Call Event": {
      "main": [[{"node": "Build Fan-Out Payloads", "type": "main", "index": 0}]]
    },
    "Build Fan-Out Payloads": {
      "main": [
        [
          {"node": "Call Execution Logger", "type": "main", "index": 0},
          {"node": "Call Slack Notifier", "type": "main", "index": 0}
        ]
      ]
    },
    "Call Execution Logger": {
      "main": [[{"node": "Wait for All Subworkflows", "type": "main", "index": 0}]]
    },
    "Call Slack Notifier": {
      "main": [[{"node": "Wait for All Subworkflows", "type": "main", "index": 1}]]
    },
    "Wait for All Subworkflows": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Aggregate Results": {
      "main": [[{"node": "Respond with Summary", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}
