workflows/voice_ai_agents/supersystem/post-call-webhook-prod.json
{
  "name": "[DEV] Post-Call Webhook - Sarah",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Post-Call Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "post-call-sarah",
      "parameters": {
        "path": "post-call",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "extract-call-data",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "conversation_id",
              "name": "conversation_id",
              "type": "string",
              "value": "={{ $json.body?.conversation_id || $json.conversation_id || '' }}"
            },
            {
              "id": "agent_id",
              "name": "agent_id",
              "type": "string",
              "value": "={{ $json.body?.agent_id || $json.agent_id || '' }}"
            },
            {
              "id": "call_duration_seconds",
              "name": "call_duration_seconds",
              "type": "number",
              "value": "={{ $json.body?.call_duration_seconds || $json.call_duration_seconds || 0 }}"
            },
            {
              "id": "caller_id",
              "name": "caller_id",
              "type": "string",
              "value": "={{ $json.body?.caller_id || $json.caller_id || '' }}"
            },
            {
              "id": "call_status",
              "name": "call_status",
              "type": "string",
              "value": "={{ $json.body?.call_status || $json.call_status || 'unknown' }}"
            },
            {
              "id": "transcript",
              "name": "transcript",
              "type": "string",
              "value": "={{ $json.body?.transcript || $json.transcript || '' }}"
            },
            {
              "id": "call_summary",
              "name": "call_summary",
              "type": "string",
              "value": "={{ $json.body?.call_summary || $json.call_summary || '' }}"
            },
            {
              "id": "customer_sentiment",
              "name": "customer_sentiment",
              "type": "string",
              "value": "={{ $json.body?.customer_sentiment || $json.customer_sentiment || 'neutral' }}"
            },
            {
              "id": "action_items",
              "name": "action_items",
              "type": "object",
              "value": "={{ $json.body?.action_items || $json.action_items || [] }}"
            },
            {
              "id": "dynamic_variables",
              "name": "dynamic_variables",
              "type": "object",
              "value": "={{ $json.body?.dynamic_variables || $json.dynamic_variables || {} }}"
            }
          ]
        }
      }
    },
    {
      "id": "validate-agent",
      "name": "Validate Agent ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "agent-match",
              "leftValue": "={{ $json.agent_id }}",
              "rightValue": "agent_8001kdgp7qbyf4wvhs540be78vew",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "error-invalid-agent",
      "name": "Error: Invalid Agent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 140],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Invalid agent_id', received: $json.agent_id } }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "check-call-status",
      "name": "Check Call Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [660, 0],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "completed",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-completed",
                    "leftValue": "={{ $json.call_status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "failed",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "id": "status-failed",
                    "leftValue": "={{ $json.call_status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "status-error",
                    "leftValue": "={{ $json.call_status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "abandoned",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-abandoned",
                    "leftValue": "={{ $json.call_status }}",
                    "rightValue": "abandoned",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "process-completed-call",
      "name": "Process Completed Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process completed call - extract insights and determine follow-up actions\n\nconst callData = $input.first().json;\n\n// Parse action items from the call\nconst actionItems = callData.action_items || [];\nconst dynamicVars = callData.dynamic_variables || {};\n\n// Determine follow-up type based on call content\nlet followUpType = 'none';\nlet followUpPriority = 'low';\nlet followUpNotes = '';\n\n// Check for booking requests\nconst bookingKeywords = ['book', 'schedule', 'demo', 'meeting', 'appointment', 'calendar'];\nconst transcript = (callData.transcript || '').toLowerCase();\nconst hasBookingIntent = bookingKeywords.some(kw => transcript.includes(kw));\n\nif (hasBookingIntent) {\n  followUpType = 'booking';\n  followUpPriority = 'high';\n  followUpNotes = 'Customer expressed interest in booking';\n}\n\n// Check for support issues\nconst supportKeywords = ['problem', 'issue', 'not working', 'broken', 'help', 'error'];\nconst hasSupportNeed = supportKeywords.some(kw => transcript.includes(kw));\n\nif (hasSupportNeed) {\n  followUpType = 'support';\n  followUpPriority = 'high';\n  followUpNotes = 'Customer reported an issue';\n}\n\n// Check sentiment for escalation\nif (callData.customer_sentiment === 'negative' || callData.customer_sentiment === 'frustrated') {\n  followUpPriority = 'urgent';\n  followUpNotes += ' - Negative sentiment detected';\n}\n\n// Build CRM update payload\nconst crmUpdate = {\n  phone: callData.caller_id,\n  last_call_date: new Date().toISOString(),\n  last_call_duration: callData.call_duration_seconds,\n  last_call_summary: callData.call_summary || 'No summary available',\n  last_call_sentiment: callData.customer_sentiment,\n  interaction_count_increment: 1\n};\n\n// Build email payload if follow-up needed\nlet emailPayload = null;\nif (followUpType !== 'none' && dynamicVars.customer_name !== 'there') {\n  emailPayload = {\n    to: dynamicVars.email || null,\n    first_name: dynamicVars.customer_first_name || 'there',\n    call_summary: callData.call_summary,\n    next_steps: followUpNotes,\n    template: 'call-followup'\n  };\n}\n\nreturn [{\n  json: {\n    ...callData,\n    processed: true,\n    follow_up_type: followUpType,\n    follow_up_priority: followUpPriority,\n    follow_up_notes: followUpNotes,\n    crm_update: crmUpdate,\n    email_payload: emailPayload,\n    action_items: actionItems\n  }\n}];"
      }
    },
    {
      "id": "process-failed-call",
      "name": "Process Failed Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 40],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process failed call - log error and trigger retry logic\n\nconst callData = $input.first().json;\n\n// Determine if retry is appropriate\nconst retryableStatuses = ['timeout', 'network_error', 'service_unavailable'];\nconst errorType = callData.error_type || 'unknown';\nconst shouldRetry = retryableStatuses.includes(errorType);\n\n// Build error log\nconst errorLog = {\n  timestamp: new Date().toISOString(),\n  conversation_id: callData.conversation_id,\n  caller_id: callData.caller_id,\n  error_type: errorType,\n  call_duration: callData.call_duration_seconds,\n  should_retry: shouldRetry,\n  retry_count: (callData.retry_count || 0) + 1\n};\n\n// Build notification payload for failed calls\nconst notification = {\n  channel: 'slack',\n  message: `⚠️ Call Failed\\n\\nCaller: ${callData.caller_id}\\nError: ${errorType}\\nDuration: ${callData.call_duration_seconds}s\\nRetry: ${shouldRetry ? 'Yes' : 'No'}`,\n  priority: shouldRetry ? 'normal' : 'high'\n};\n\nreturn [{\n  json: {\n    ...callData,\n    processed: true,\n    error_log: errorLog,\n    should_retry: shouldRetry,\n    notification: notification,\n    follow_up_type: 'error_recovery',\n    follow_up_priority: 'high'\n  }\n}];"
      }
    },
    {
      "id": "process-abandoned-call",
      "name": "Process Abandoned Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process abandoned call - short calls where customer hung up\n\nconst callData = $input.first().json;\nconst duration = callData.call_duration_seconds || 0;\n\n// Classify abandonment reason\nlet abandonReason = 'unknown';\nif (duration < 5) {\n  abandonReason = 'immediate_hangup';\n} else if (duration < 30) {\n  abandonReason = 'early_abandonment';\n} else {\n  abandonReason = 'mid_call_abandonment';\n}\n\n// Determine if callback is appropriate\nconst shouldCallback = duration > 10 && callData.caller_id;\n\nreturn [{\n  json: {\n    ...callData,\n    processed: true,\n    abandon_reason: abandonReason,\n    should_callback: shouldCallback,\n    follow_up_type: shouldCallback ? 'callback' : 'none',\n    follow_up_priority: shouldCallback ? 'medium' : 'low'\n  }\n}];"
      }
    },
    {
      "id": "update-crm",
      "name": "Update CRM (Pipedrive)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $json.dynamic_variables.secret__pipedrive_person_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "custom_fields",
              "value": "={{ JSON.stringify($json.crm_update) }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "log-call-history",
      "name": "Log to Call History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 40],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "phone": "={{ $json.caller_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "duration_seconds": "={{ $json.call_duration_seconds }}",
            "status": "={{ $json.call_status }}",
            "sentiment": "={{ $json.customer_sentiment }}",
            "summary": "={{ $json.call_summary }}",
            "follow_up_type": "={{ $json.follow_up_type }}",
            "follow_up_priority": "={{ $json.follow_up_priority }}"
          }
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 0],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, processed: true, follow_up_type: $json.follow_up_type, follow_up_priority: $json.follow_up_priority } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook: Post-Call Data": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Validate Agent ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Agent ID": {
      "main": [
        [
          {
            "node": "Check Call Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Status": {
      "main": [
        [
          {
            "node": "Process Completed Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Failed Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Abandoned Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Completed Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Completed Call": {
      "main": [
        [
          {
            "node": "Update CRM (Pipedrive)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Call History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Failed Call": {
      "main": [
        [
          {
            "node": "Log to Call History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Abandoned Call": {
      "main": [
        [
          {
            "node": "Log to Call History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM (Pipedrive)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Call History": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
