workflows/voice_ai_agents/supersystem/slack-notifier.json
{
  "name": "[DEV] Supersystem - Slack Notifier",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Slack Notify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "slack-notify",
      "parameters": {
        "path": "slack-notify",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "format-slack-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format Slack message from webhook payload\nconst input = $json.body || $json;\n\n// Determine message type and format accordingly\nconst eventType = input.event_type || 'call_completed';\nconst outcome = input.outcome || 'unknown';\n\n// Emoji and color based on outcome\nconst outcomeConfig = {\n  success: { emoji: '✅', color: '#36a64f' },\n  failure: { emoji: '❌', color: '#dc3545' },\n  incomplete: { emoji: '⚠️', color: '#ffc107' },\n  unknown: { emoji: '❓', color: '#6c757d' }\n};\n\nconst config = outcomeConfig[outcome] || outcomeConfig.unknown;\n\n// Build the Slack message blocks\nconst slackPayload = {\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: `${config.emoji} Voice Agent Call ${outcome.toUpperCase()}`,\n        emoji: true\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        {\n          type: 'mrkdwn',\n          text: `*Agent:*\\n${input.agent_name || 'Unknown'}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Duration:*\\n${input.duration_seconds ? Math.floor(input.duration_seconds / 60) + 'm ' + (input.duration_seconds % 60) + 's' : 'N/A'}`\n        }\n      ]\n    },\n    {\n      type: 'section',\n      fields: [\n        {\n          type: 'mrkdwn',\n          text: `*Caller:*\\n${input.caller_name || input.caller_phone || 'Unknown'}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Conversation ID:*\\n\\`${input.conversation_id || 'N/A'}\\``\n        }\n      ]\n    }\n  ]\n};\n\n// Add summary if available\nif (input.summary || input.request_summary) {\n  slackPayload.blocks.push({\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Summary:*\\n${input.summary || input.request_summary}`\n    }\n  });\n}\n\n// Add errors if present\nif (input.errors) {\n  slackPayload.blocks.push({\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Errors:*\\n\\`\\`\\`${input.errors}\\`\\`\\``\n    }\n  });\n}\n\n// Add divider and timestamp\nslackPayload.blocks.push(\n  { type: 'divider' },\n  {\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: `Sent at ${new Date().toISOString()}`\n      }\n    ]\n  }\n);\n\nreturn {\n  json: {\n    slackPayload: slackPayload,\n    originalInput: input\n  }\n};"
      }
    },
    {
      "id": "send-to-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {}
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Slack notification sent', timestamp: $now.toISO() } }}"
      }
    }
  ],
  "connections": {
    "Webhook: Slack Notify": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
