workflows/live-universalized/browser-scraper-endpoint.json
{
  "name": "Browser Scraper Endpoint",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Webhook: Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "path": "scrapling-browser",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      }
    },
    {
      "id": "scrapling",
      "name": "HTTP: Scrapling Browser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8765/browser",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.body.url, selectors: $json.body.selectors }) }}",
        "options": {}
      }
    },
    {
      "id": "respond",
      "name": "Webhook: Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook: Receive Request": {
      "main": [
        [
          {
            "node": "HTTP: Scrapling Browser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Scrapling Browser": {
      "main": [
        [
          {
            "node": "Webhook: Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "source": "universalized-live-workflow",
    "state": "draft",
    "summary": "Browser-backed scraping endpoint pattern."
  },
  "versionCounter": 3
}
