workflows/live-universalized/outbound-voice-call-with-context.json
{
  "name": "Outbound Voice Call With Context",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "initiate-call",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "trigger-webhook",
      "name": "Webhook: Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawData = $input.item.json;\nconst input = rawData.body || rawData;\n\n// ============================================\n// INPUT VALIDATION (Critical for 98%+ success)\n// ============================================\nconst phone = input.phone;\n\n// Validate phone exists\nif (!phone || phone === null || phone === undefined) {\n  return {\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR: phone is required',\n      validation_failed: true,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Validate phone format (must start with +)\nif (typeof phone !== 'string' || !phone.startsWith('+')) {\n  return {\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR: phone must be in E.164 format (start with +)',\n      validation_failed: true,\n      received_phone: phone,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Validate phone has enough digits\nconst digitsOnly = phone.replace(/\\D/g, '');\nif (digitsOnly.length < 10) {\n  return {\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR: phone must have at least 10 digits',\n      validation_failed: true,\n      received_phone: phone,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// ============================================\n// BUILD PAYLOAD (Validation passed)\n// ============================================\nconst payload = {\n  agent_id: 'agent_5701kdgf9s4vfe9rhe68ntjrms9g',\n  agent_phone_number_id: 'phnum_1901kdgev877fep99ex5fc5abb3m',\n  to_number: phone,\n  conversation_initiation_client_data: {\n    user_id: input.customer_id || phone,\n    dynamic_variables: {\n      customer_name: input.customer_name || '',\n      customer_first_name: input.customer_name?.split(' ')[0] || input.customer_name || '',\n      account_type: input.account_type || 'standard',\n      account_number: input.account_number || '',\n      call_purpose: input.call_purpose || 'general inquiry',\n      pipedrive_person_id: input.pipedrive_person_id || 0\n    }\n  }\n};\n\nreturn {\n  json: {\n    payload,\n    original_input: input,\n    client_data_injected: true,\n    validation_passed: true,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "build-client-data",
      "name": "Transform: Build Client Data Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validation_failed }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validation_passed }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "passed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "validation-router",
      "name": "Route: Validation Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        620,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/convai/twilio/outbound-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-elevenlabs",
      "name": "HTTP: Eleven Labs Initiate Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        400
      ]
    },
    {
      "id": "build-response",
      "name": "Transform: Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst isSuccess = response.statusCode === 200 && response.body?.success !== false;\n\nif (isSuccess) {\n  return {\n    json: {\n      success: true,\n      conversation_id: response.body?.conversation_id || null,\n      call_sid: response.body?.callSid || null,\n      call_id: response.body?.conversation_id || null,\n      client_data_injected: true,\n      initiated: true,\n      timestamp: new Date().toISOString()\n    }\n  };\n} else {\n  return {\n    json: {\n      success: false,\n      error: response.body?.message || response.body?.detail || 'Unknown error',\n      client_data_injected: true,\n      initiated: false,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      }
    },
    {
      "id": "respond-success",
      "name": "Webhook: Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}"
        }
      }
    },
    {
      "id": "respond-validation-error",
      "name": "Webhook: Return Response Step2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-sms",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "sms-webhook",
      "name": "Webhook: Receive Request Step2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.item.json;\n\n// Handle multiple nesting levels (webhook adds body, ElevenLabs may also nest)\n// Possible structures:\n// 1. Direct: { phone_number: ... }\n// 2. Single nest: { body: { phone_number: ... } }\n// 3. Double nest: { body: { body: { phone_number: ... } } }\nlet input = rawData;\nif (input.body) {\n  input = input.body;\n  if (input.body) {\n    input = input.body;  // Handle double nesting\n  }\n}\n\n// ============================================\n// INPUT VALIDATION\n// ============================================\nconst phone = input.phone_number;\n\n// Validate phone exists\nif (!phone || phone === null || phone === undefined) {\n  return {\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR: phone_number is required',\n      validation_failed: true,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Validate phone format (must start with +)\nif (typeof phone !== 'string' || !phone.startsWith('+')) {\n  return {\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR: phone_number must be in E.164 format (start with +)',\n      validation_failed: true,\n      received_phone: phone,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Validate phone has enough digits\nconst digitsOnly = phone.replace(/\\D/g, '');\nif (digitsOnly.length < 10) {\n  return {\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR: phone_number must have at least 10 digits',\n      validation_failed: true,\n      received_phone: phone,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Get caller name with fallbacks\nconst callerName = input.caller_name || input.first_name || 'there';\n\nreturn {\n  json: {\n    phone_number: phone,\n    caller_name: callerName,\n    validation_passed: true,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "sms-validate",
      "name": "Transform: Validate SMS Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        700
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validation_failed }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validation_passed }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "passed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "sms-router",
      "name": "Route: SMS Validation Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        620,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.SECRET_VALUE }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic QUNiOWEzYjdkZjJkZmU2MDcwOTliZDBjZTBlNmFlNDdlMTphNWQ3YmZhYTM5OWZhZTZkZjJlZjJmNTcyZTdmMDZmYg=="
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "{{ $env.SECRET_VALUE }}"
            },
            {
              "name": "To",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "Body",
              "value": "=Hi {{ $json.caller_name }}! Here is your link to book a demo with example: https://cal.com/example/demo\n\nReply STOP to opt out."
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "twilio-http-sms",
      "name": "HTTP: Twilio SMS Via HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'SMS sent', sid: $json.body.sid } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "sms-response-node",
      "name": "Webhook: Return Response Step3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "sms-validation-error",
      "name": "Webhook: Return Response Step4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        600
      ]
    }
  ],
  "connections": {
    "Webhook: Receive Request": {
      "main": [
        [
          {
            "node": "Transform: Build Client Data Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Build Client Data Payload": {
      "main": [
        [
          {
            "node": "Route: Validation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Validation Router": {
      "main": [
        [
          {
            "node": "Webhook: Return Response Step2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Eleven Labs Initiate Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Eleven Labs Initiate Outbound Call": {
      "main": [
        [
          {
            "node": "Transform: Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Build Response": {
      "main": [
        [
          {
            "node": "Webhook: Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive Request Step2": {
      "main": [
        [
          {
            "node": "Transform: Validate SMS Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Validate SMS Input": {
      "main": [
        [
          {
            "node": "Route: SMS Validation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: SMS Validation Router": {
      "main": [
        [
          {
            "node": "Webhook: Return Response Step4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Twilio SMS Via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Twilio SMS Via HTTP": {
      "main": [
        [
          {
            "node": "Webhook: Return Response Step3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "source": "universalized-live-workflow",
    "state": "draft",
    "summary": "Outbound voice-call trigger that enriches requests with client context."
  },
  "versionCounter": 87
}
