workflows/live-universalized/pipeline-test-webhook-processor-live.json
{
  "name": "Pipeline Test Webhook Processor",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-test",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      }
    },
    {
      "id": "process-data",
      "name": "Transform: Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "jsCode": "// Get input data from webhook\nconst items = $input.all();\nconst inputData = items[0].json.body || items[0].json;\n\n// Process the data\nconst result = {\n  received: inputData,\n  processed: true,\n  timestamp: new Date().toISOString(),\n  message: `Processed request with ${Object.keys(inputData).length} fields`\n};\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "respond-webhook",
      "name": "Webhook: Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json, pipeline: 'test-complete' } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook: Receive Request": {
      "main": [
        [
          {
            "node": "Transform: Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Process Data": {
      "main": [
        [
          {
            "node": "Webhook: Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "meta": {
    "source": "universalized-live-workflow",
    "state": "draft",
    "summary": "Live-instance version of the pipeline smoke-test processor."
  },
  "versionCounter": 23
}
