workflows/live-universalized/slack-notification-endpoint.json
{
  "name": "Slack Notification Endpoint",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-notify-test",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger",
      "name": "Webhook: Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format Slack message from webhook payload\nconst input = $json.body || $json;\n\nconst outcome = input.outcome || 'unknown';\nconst outcomeConfig = {\n  success: { emoji: '✅', color: '#36a64f' },\n  failure: { emoji: '❌', color: '#dc3545' },\n  incomplete: { emoji: '⚠️', color: '#ffc107' },\n  unknown: { emoji: '❓', color: '#6c757d' }\n};\nconst config = outcomeConfig[outcome] || outcomeConfig.unknown;\n\nconst slackPayload = {\n  blocks: [\n    {\n      type: 'header',\n      text: { type: 'plain_text', text: `${config.emoji} Voice Agent Call ${outcome.toUpperCase()}`, emoji: true }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Agent:*\\n${input.agent_name || 'Unknown'}` },\n        { type: 'mrkdwn', text: `*Duration:*\\n${input.duration_seconds ? Math.floor(input.duration_seconds / 60) + 'm ' + (input.duration_seconds % 60) + 's' : 'N/A'}` }\n      ]\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Caller:*\\n${input.caller_name || input.caller_phone || 'Unknown'}` },\n        { type: 'mrkdwn', text: `*Conversation ID:*\\n\\`${input.conversation_id || 'N/A'}\\`` }\n      ]\n    }\n  ]\n};\n\nif (input.summary) {\n  slackPayload.blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Summary:*\\n${input.summary}` } });\n}\n\nslackPayload.blocks.push({ type: 'divider' }, { type: 'context', elements: [{ type: 'mrkdwn', text: `Sent at ${new Date().toISOString()}` }] });\n\nreturn { json: { slackPayload, originalInput: input } };"
      },
      "id": "format-slack-message",
      "name": "Transform: Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Test mode - would send this to Slack', slackPayload: $json.slackPayload, timestamp: $now.toISO() } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Webhook: Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    }
  ],
  "connections": {
    "Webhook: Receive Request": {
      "main": [
        [
          {
            "node": "Transform: Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Format Slack Message": {
      "main": [
        [
          {
            "node": "Webhook: Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "source": "universalized-live-workflow",
    "state": "draft",
    "summary": "Webhook endpoint for formatting and sending operational Slack notifications."
  },
  "versionCounter": 25
}
