workflows/lead-enrichment-microservice.json
{
  "name": "Lead Enrichment Microservice",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook: Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "lead-enrichment",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      }
    },
    {
      "id": "extract-domain",
      "name": "Transform: Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "jsCode": "const lead = $input.item.json;\nconst email = lead.email || lead.company_url || '';\nlet domain = '';\n\nif (email.includes('@')) {\n  domain = email.split('@')[1];\n} else if (email.startsWith('http')) {\n  try {\n    domain = new URL(email).hostname.replace('www.', '');\n  } catch (e) {\n    domain = email;\n  }\n} else {\n  domain = email;\n}\n\nconst freeProviders = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'icloud.com'];\nconst isBusinessEmail = domain && !freeProviders.includes(domain.toLowerCase());\n\nreturn { \n  ...lead, \n  extracted_domain: domain,\n  is_business: isBusinessEmail\n};"
      }
    },
    {
      "id": "clay-enrich",
      "name": "Enrich: Query Company Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.clay.com/v3/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLAY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.extracted_domain }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-response",
      "name": "Transform: Format Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "parameters": {
        "jsCode": "const lead = $(\"Transform: Extract Domain\").item.json;\nconst enrichmentData = $input.item.json;\n\nreturn {\n  ...lead,\n  company_name: enrichmentData.company?.name || lead.company_name || lead.businessName,\n  company_domain: enrichmentData.company?.domain || lead.extracted_domain,\n  company_logo: enrichmentData.company?.logoUrl || null,\n  ai_research: enrichmentData.ai_summary || enrichmentData.company?.description || 'Enriched by provider',\n  enrichment_source: 'company_enrichment_provider',\n  enriched_at: new Date().toISOString(),\n  status: 'enriched'\n};"
      }
    },
    {
      "id": "respond-node",
      "name": "Webhook: Return Enriched Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook: Receive Lead": {
      "main": [
        [
          {
            "node": "Transform: Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Extract Domain": {
      "main": [
        [
          {
            "node": "Enrich: Query Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich: Query Company Data": {
      "main": [
        [
          {
            "node": "Transform: Format Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Format Enrichment": {
      "main": [
        [
          {
            "node": "Webhook: Return Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
