workflows/dev/pipeline-test-webhook-processor.json
{
  "name": "Pipeline Test Webhook Processor",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Receive Pipeline Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-test",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "notes": "Receives the pipeline test payload."
    },
    {
      "id": "process-data",
      "name": "Transform: Build Test Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "jsCode": "// Get input data from webhook\nconst items = $input.all();\nconst inputData = items[0].json.body || items[0].json;\n\n// Process the data\nconst result = {\n  received: inputData,\n  processed: true,\n  timestamp: new Date().toISOString(),\n  message: `Processed request with ${Object.keys(inputData).length} fields`\n};\n\nreturn [{ json: result }];"
      },
      "notes": "Validates and processes the input JSON."
    },
    {
      "id": "respond-webhook",
      "name": "Webhook: Return Test Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json, pipeline: 'test-complete' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "notes": "Returns the success response to the caller."
    }
  ],
  "connections": {
    "Webhook: Receive Pipeline Test": {
      "main": [
        [
          {
            "node": "Transform: Build Test Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Build Test Response": {
      "main": [
        [
          {
            "node": "Webhook: Return Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "createdBy": "pipeline-test",
    "createdAt": "2026-01-07T18:40:00Z",
    "purpose": "End-to-end pipeline validation workflow"
  }
}
