workflows/knowledge_management/youtube-rag-pipeline/workflow.json
{
  "name": "YouTube RAG Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Trigger: Manual Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "videoId": "={{ $json.videoId }}"
      },
      "id": "get-metadata",
      "name": "YouTube: Get Metadata",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "resource": "commentThread",
        "videoId": "={{ $json.id }}",
        "limit": 20
      },
      "id": "get-comments",
      "name": "YouTube: Get Comments",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first().json;\nlet videoId = inputItem.id;\n\nif (!videoId) {\n  return [{ json: { error: \"No video ID found\" } }];\n}\n\nconst youtubePageUrl = `https://www.youtube.com/watch?v=${videoId}`;\n\ntry {\n  const response = await fetch(youtubePageUrl);\n  if (!response.ok) throw new Error(\"Failed to fetch page\");\n  const body = await response.text();\n\n  const playerResponseMatch = body.match(/ytInitialPlayerResponse = ({.*?});/);\n  if (!playerResponseMatch) throw new Error(\"No player response found\");\n\n  const ytInitialPlayerResponse = JSON.parse(playerResponseMatch[1]);\n  const captionTracks = ytInitialPlayerResponse?.captions?.playerCaptionsTracklistRenderer?.captionTracks;\n\n  if (!captionTracks || captionTracks.length === 0) {\n    return [{ json: { ...inputItem, transcript: \"[No Captions Available]\" } }];\n  }\n\n  const preferredTrack = captionTracks.find(track => track.languageCode === 'en') || captionTracks[0];\n  const transcriptResponse = await fetch(preferredTrack.baseUrl + '&fmt=json3');\n  const transcriptData = await transcriptResponse.json();\n\n  const transcript = transcriptData.events\n    .filter(event => event.segs)\n    .map(event => event.segs.map(seg => seg.utf8).join(' ')\n    .join(' ')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return [{ json: { ...inputItem, transcript } }];\n\n} catch (error) {\n  return [{ json: { ...inputItem, transcript: \"[Error Fetching Transcript: \" + error.message + \"]\" } }];\n}"
      },
      "id": "fetch-transcript",
      "name": "Transcript: Fetch Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "content",
              "name": "content",
              "value": "={{ $json.snippet.title }}\n\n{{ $json.snippet.description }}\n\nTRANSCRIPT:\n{{ $json.transcript }}\n\nCOMMENTS:\n{{ $json.comments }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-document",
      "name": "Document: Format Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200
      },
      "id": "text-splitter",
      "name": "Document: Split Text",
      "type": "n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "id": "embeddings",
      "name": "Embedding: Generate Vectors",
      "type": "n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "collection": "youtube_knowledge_base",
        "options": {}
      },
      "id": "qdrant-store",
      "name": "Vector: Upsert Document",
      "type": "n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Trigger: Manual Start": {
      "main": [
        [
          {
            "node": "YouTube: Get Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Get Metadata": {
      "main": [
        [
          {
            "node": "YouTube: Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Get Comments": {
      "main": [
        [
          {
            "node": "Transcript: Fetch Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript: Fetch Captions": {
      "main": [
        [
          {
            "node": "Document: Format Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document: Format Content": {
      "main": [
        [
          {
            "node": "Vector: Upsert Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document: Split Text": {
      "ai_textSplitter": [
        [
          {
            "node": "Vector: Upsert Document",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embedding: Generate Vectors": {
      "ai_embedding": [
        [
          {
            "node": "Vector: Upsert Document",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
