workflows/voice_ai_agents/supersystem/tests/workflow-with-evaluations.json
{
  "name": "[DEV] Supersystem - Client Data Lookup (with Evaluations)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Client Lookup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "client-lookup-test",
      "parameters": {
        "path": "client-lookup-test",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "eval-trigger",
      "name": "Evaluation Trigger",
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 1,
      "position": [0, 200],
      "parameters": {
        "source": "dataTable",
        "dataTableId": "={{ $parameter.dataTableId }}",
        "options": {}
      },
      "notes": "Configure this node: Select your Data Table 'supersystem-evaluation-dataset'"
    },
    {
      "id": "merge-inputs",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [220, 100],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "simulate-lookup",
      "name": "Simulate Client Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate client data lookup\n// Works with both webhook body and evaluation trigger data\nconst input = $json.body || $json;\nconst phone = input.input_phone || input.phone || '';\nconst email = input.input_email || input.email || '';\n\nconst mockClients = {\n  '+15551234567': {\n    first_name: 'John',\n    last_name: 'Smith',\n    company: 'Acme Corp',\n    account_type: 'Premium',\n    loyalty_tier: 'Gold',\n    last_interaction: 'Called 3 days ago about demo',\n    notes: 'Prefers morning calls'\n  },\n  '+15559876543': {\n    first_name: 'Jane',\n    last_name: 'Doe',\n    company: 'Tech Startup Inc',\n    account_type: 'Standard',\n    loyalty_tier: 'Silver',\n    last_interaction: 'First-time caller',\n    notes: ''\n  }\n};\n\nlet client = null;\nlet lookupKey = null;\n\nif (phone && mockClients[phone]) {\n  client = mockClients[phone];\n  lookupKey = phone;\n} else if (email && mockClients[email]) {\n  client = mockClients[email];\n  lookupKey = email;\n}\n\nconst startTime = Date.now();\nconst latency = Math.floor(Math.random() * 10) + 2;\n\nif (client) {\n  return {\n    json: {\n      success: true,\n      client: client,\n      cache_hit: true,\n      lookup_key: lookupKey,\n      latency_ms: latency,\n      source: 'mock_database',\n      // Preserve original input for evaluation\n      _original_input: input\n    }\n  };\n} else {\n  return {\n    json: {\n      success: true,\n      client: null,\n      cache_hit: false,\n      lookup_key: phone || email || 'none',\n      latency_ms: latency,\n      message: 'Client not found - new caller',\n      // Preserve original input for evaluation\n      _original_input: input\n    }\n  };\n}"
      }
    },
    {
      "id": "check-if-eval",
      "name": "Check If Evaluating",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 1,
      "position": [660, 100],
      "parameters": {
        "operation": "checkIfEvaluating"
      }
    },
    {
      "id": "respond-success",
      "name": "Respond with Client Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    },
    {
      "id": "eval-set-outputs",
      "name": "Set Evaluation Outputs",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 1,
      "position": [880, 200],
      "parameters": {
        "operation": "setOutputs",
        "dataTableId": "={{ $parameter.dataTableId }}",
        "outputs": {
          "output": [
            {
              "name": "actual_output",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "pass_fail",
              "value": "={{ $json.success === ($json._original_input?.expected_success === 'true') && (($json.client !== null) === ($json._original_input?.expected_client_found === 'true')) ? 'PASS' : 'FAIL' }}"
            },
            {
              "name": "execution_time_ms",
              "value": "={{ $json.latency_ms }}"
            },
            {
              "name": "run_timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "Configure this node: Select your Data Table 'supersystem-evaluation-dataset'"
    },
    {
      "id": "eval-set-metrics",
      "name": "Set Evaluation Metrics",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 1,
      "position": [1100, 200],
      "parameters": {
        "operation": "setMetrics",
        "metrics": {
          "metric": [
            {
              "name": "success_rate",
              "value": "={{ $json.success ? 1 : 0 }}"
            },
            {
              "name": "client_found_accuracy",
              "value": "={{ (($json.client !== null) === ($json._original_input?.expected_client_found === 'true')) ? 1 : 0 }}"
            },
            {
              "name": "latency_ms",
              "value": "={{ $json.latency_ms || 0 }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook: Client Lookup": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Simulate Client Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Client Lookup": {
      "main": [
        [
          {
            "node": "Check If Evaluating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Evaluating": {
      "main": [
        [
          {
            "node": "Respond with Client Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Evaluation Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Evaluation Outputs": {
      "main": [
        [
          {
            "node": "Set Evaluation Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
